In [1]:
import random
import numpy as np
import pandas as pd
import sqlite3
from IPython.display import display

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')

In [3]:
df

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32531,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32532,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32533,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32534,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32535,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32536,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32537,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32539,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32542,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32543,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32544,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32545,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32546,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32547,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32548,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32549,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32550,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32551,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32552,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32553,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32554,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.columns =["age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country","income"]
display(df.head(5))

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [5]:
import sqlalchemy
from sqlalchemy import create_engine
engine = create_engine('sqlite:///sqladb', echo=False)
df.to_sql('sqladb', engine, if_exists='replace')

connection  = sqlite3.connect("sqladb")
cursor = connection.cursor()

In [6]:
cursor.execute('UPDATE sqladb SET fnlwgt = "284786" WHERE fnlwgt = " 284582"')
print(pd.read_sql_query("SELECT * FROM sqladb", connection).head(5))

   index  age          workclass  fnlwgt   education  education_num  \
0      0   50   Self-emp-not-inc   83311   Bachelors             13
1      1   38            Private  215646     HS-grad              9
2      2   53            Private  234721        11th              7
3      3   28            Private  338409   Bachelors             13
4      4   37            Private  284786     Masters             14

        marital_status          occupation    relationship    race      sex  \
0   Married-civ-spouse     Exec-managerial         Husband   White     Male
1             Divorced   Handlers-cleaners   Not-in-family   White     Male
2   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
3   Married-civ-spouse      Prof-specialty            Wife   Black   Female
4   Married-civ-spouse     Exec-managerial            Wife   White   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0             0             0              13   United-States   <=50K
1             0             0              40   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40            Cuba   <=50K
4             0             0              40   United-States   <=50K

In [7]:
cursor.execute('UPDATE sqladb SET workclass = "Private Sector" WHERE workclass = " Private"')
print(pd.read_sql_query("SELECT * FROM sqladb", connection).tail(5))

       index  age       workclass  fnlwgt    education  education_num  \
32555  32555   27  Private Sector  257302   Assoc-acdm             12
32556  32556   40  Private Sector  154374      HS-grad              9
32557  32557   58  Private Sector  151910      HS-grad              9
32558  32558   22  Private Sector  201490      HS-grad              9
32559  32559   52    Self-emp-inc  287927      HS-grad              9

            marital_status          occupation relationship    race      sex  \
32555   Married-civ-spouse        Tech-support         Wife   White   Female
32556   Married-civ-spouse   Machine-op-inspct      Husband   White     Male
32557              Widowed        Adm-clerical    Unmarried   White   Female
32558        Never-married        Adm-clerical    Own-child   White     Male
32559   Married-civ-spouse     Exec-managerial         Wife   White   Female

       capital_gain  capital_loss  hours_per_week  native_country  income
32555             0             0              38   United-States   <=50K
32556             0             0              40   United-States    >50K
32557             0             0              40   United-States   <=50K
32558             0             0              20   United-States   <=50K
32559         15024             0              40   United-States    >50K

In [8]:
cursor.execute('DELETE FROM sqladb WHERE fnlwgt = " 234721"')
print(pd.read_sql_query("SELECT * FROM sqladb", connection).head(5))

   index  age          workclass  fnlwgt   education  education_num  \
0      0   50   Self-emp-not-inc   83311   Bachelors             13
1      1   38     Private Sector  215646     HS-grad              9
2      3   28     Private Sector  338409   Bachelors             13
3      4   37     Private Sector  284786     Masters             14
4      5   49     Private Sector  160187         9th              5

           marital_status          occupation    relationship    race  \
0      Married-civ-spouse     Exec-managerial         Husband   White
1                Divorced   Handlers-cleaners   Not-in-family   White
2      Married-civ-spouse      Prof-specialty            Wife   Black
3      Married-civ-spouse     Exec-managerial            Wife   White
4   Married-spouse-absent       Other-service   Not-in-family   Black

       sex  capital_gain  capital_loss  hours_per_week  native_country  income
0     Male             0             0              13   United-States   <=50K
1     Male             0             0              40   United-States   <=50K
2   Female             0             0              40            Cuba   <=50K
3   Female             0             0              40   United-States   <=50K
4   Female             0             0              16         Jamaica   <=50K

In [9]:
cursor.execute('DELETE FROM sqladb WHERE age = " 28" AND fnlwgt = " 338409"')
print(pd.read_sql_query("SELECT * FROM sqladb", connection).head(5))

   index  age          workclass  fnlwgt   education  education_num  \
0      0   50   Self-emp-not-inc   83311   Bachelors             13
1      1   38     Private Sector  215646     HS-grad              9
2      4   37     Private Sector  284786     Masters             14
3      5   49     Private Sector  160187         9th              5
4      6   52   Self-emp-not-inc  209642     HS-grad              9

           marital_status          occupation    relationship    race  \
0      Married-civ-spouse     Exec-managerial         Husband   White
1                Divorced   Handlers-cleaners   Not-in-family   White
2      Married-civ-spouse     Exec-managerial            Wife   White
3   Married-spouse-absent       Other-service   Not-in-family   Black
4      Married-civ-spouse     Exec-managerial         Husband   White

       sex  capital_gain  capital_loss  hours_per_week  native_country  income
0     Male             0             0              13   United-States   <=50K
1     Male             0             0              40   United-States   <=50K
2   Female             0             0              40   United-States   <=50K
3   Female             0             0              16         Jamaica   <=50K
4     Male             0             0              45   United-States    >50K

In [10]:
cursor.execute('SELECT DISTINCT * FROM sqladb WHERE education = " Bachelors" AND age < 25 AND relationship = " Unmarried" AND sex = " Female" and native_country=" United-States"')
output = cursor.fetchall()
print(output)

[(12965, 23, 'Private Sector', 526164, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Unmarried', ' Black', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (16657, 22, 'Private Sector', 203182, ' Bachelors', 13, ' Never-married', ' Exec-managerial', ' Unmarried', ' White', ' Female', 0, 0, 30, ' United-States', ' <=50K'), (20335, 24, 'Private Sector', 187937, ' Bachelors', 13, ' Never-married', ' Prof-specialty', ' Unmarried', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (31478, 24, 'Private Sector', 498349, ' Bachelors', 13, ' Never-married', ' Transport-moving', ' Unmarried', ' Black', ' Female', 0, 0, 40, ' United-States', ' <=50K')]

In [11]:
cursor.execute('SELECT DISTINCT * FROM sqladb WHERE education = " Bachelors" and age < 25 and income <= "50k" and native_country=" India"')
output = cursor.fetchall()
print(output)

[(1094, 22, ' Self-emp-not-inc', 361280, ' Bachelors', 13, ' Never-married', ' Prof-specialty', ' Own-child', ' Asian-Pac-Islander', ' Male', 0, 0, 20, ' India', ' <=50K')]

In [13]:
display(df.head(5))

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [14]:
def new_entry(db_file, new_data):
    
    query = "INSERT INTO sqladb VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);"

    cursor.execute(query, list(new_data))
    cursor.close()
    connection.close()

new_entry('sqladb',('32660', '30','Private', '7861369', 'Masters', '9', 'Married', 'Front_End', 'In_Family', 'Indian', 'Male', '0', '0', '40', 'United-States', '>=50K'))

In [15]:
def age_check():
    connection = sqlite3.connect("sqladb")
    cursor = connection.cursor()
    cursor.execute('SELECT avg(age) FROM sqladb WHERE education=" Masters" AND sex=" Male"')
    output = cursor.fetchall()
    print(output)    
    connection.close()

age_check()

[(44.490311710193765,)]

In [16]:
connection.close()